.bg-contact{
    background: url(https://i.ibb.co/bWfKDfn/photo-1543325042-c67825847491-q-80-w-1459-auto-format-fit-crop-ixlib-rb-4-0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80%;
    padding: 130px 0;
    position: relative;
    z-index: 1;
}

.bg-contact::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #24243e97;
    z-index: -1;
}